<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello EJS tempplete engine</h1>
    <!-- การส่งค่าแบบธรรมดา (ไม่ใช่ array)
    
    <p>
        <b>name: </b><%= name %>
    </p>
    <p>
        <b>age: </b><%= age %>
    </p>
    
    -->

    <!-- if / else

        <hr>
        <h1>if/else</h1>
        <% if(age <= 18){ %>
        <h3>ไม่ผ่านเกณการใช้งาน</h3>
        <% } else if (age <= 25) { %>
        <h3>ให้ผ่านเกณการใช้งาน</h3>
        <% } else { %>
        <h3>อายุเยอะละ</h3>
        <% } %>
    -->
    
    <!-- for loop
     
    <h1>for loop</h1>
    <% for(i=0; i < 10; i++){ %>
    <h2><%= i %>.</h2>
    <% } %>
        <hr>
    -->



</body>
</html>