<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Hello EJS tempplete engine</h1>

    <!-- การรับค่าแบบ array
        <p>
            <%= products %>
        </p>
        
        <ol>
            <% for(index in products){ %>
            <li>
                <%= products[index] %>
            </li>
            <% } %>
        </p>
    -->
        
</body>

</html>